<%= form_for(@parking_lot) do |f| %>
  <% if @parking_lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking_lot.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @parking_lot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_area :hours %>
  </div>
  <div class="field">
    <%= f.label :rates %><br>
    <%= f.text_field :rates %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
