<h1>Parking Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parking_lots.each do |lot| %>
      <tr>
        <td><%= lot.name %></td>
        <td><%= link_to 'Show', lot %></td>
        <td><%= link_to 'Edit', edit_parking_lot_path(lot) %></td>
        <td><%= link_to(
          'Destroy',
          parking_lot_path(lot),
          method: :delete,
          data: { confirm: 'Are you sure?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking Lot', new_parking_lot_path %>
