<div class="infowindow">
  <h3><%= location.name %></h3>
  <ul>
    <li><%= location.address %></li>
    <li><%= location.phone %></li>
    <li><%= link_to "#{location.website}" %></li>
    <li><%= location.price %></li>
  </ul>
</div>
