<br>

<%=
  link_to 'Edit',
  public_send("edit_#{record.class.to_s.underscore}_path"),
  remote: true
%> |
<%=
  link_to 'Delete',
  public_send("#{record.class.to_s.underscore}_path"),
  method: :delete,
  remote: true,
  data: { confirm: "Are you sure?" }
%>
<br><br>


<% fields.each do |field| %>
  <% if field.to_s.chars.last(3).join == '_id' %>
    <% base_name = field.to_s.chomp('_id') %>
    <p>
      <strong><%= base_name.capitalize %>:</strong>
      <%= record.public_send(base_name).name %>
    </p>
  <% else %>
    <p>
      <strong><%= field.to_s.capitalize %>:</strong>
      <%= record.public_send(field) %>
    </p>
  <% end %>
<% end %>
