<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, maximum-scale = 1.0" />
  <%= favicon_link_tag 'attractionmarkersm.png' %>
  <title>SeattleAttractions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

</head>
<body>
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>

  <%= yield %>

</body>
</html>
