<div class="infowindow">
  <%= image_tag(location.icon_url, size: "30x45",) %><h3><%= location.name %></h3>
  <ul>
    <li><%= location.address %></li>
    <li><%= link_to("#{location.website}", location.website, :target => "_blank") %></a></li>
  </ul>
  <p><%= location.description %></p>
  <% if location.coupon_url != nil %>
    <%= button_to "Print Coupon", location.coupon_url, :class => "gmaps-iw-button",
    form: {:target => "_blank"}, :method => :get %>
  <% end %>
</div>
