<%= image_tag(location.icon_url, size: "30x45",) %><h3><%= location.name %></h3>
<ul>
  <li><%= location.address %></li>
  <li><%= link_to "#{location.website}" %></a></li>
</ul>
  <p><%= location.description %></p>
</ul>
