<div class="mobile-infowindow">
  <h3><%= location.name %></h3>
  <p><%= location.address %></p>
    <li><p><%= number_to_phone(location.phone, area_code: true) %></p></li>
    <li><%= link_to("Website", location.website, :target => "_blank") %></a></li>
    <li><%= link_to("Get Directions", "https://www.google.com/maps/dir/Current+Location/#{location.latitude},#{location.longitude}", :target => "_blank") %></li>
  </ul>
  <p><%= location.description %></p>

</div>