<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'>
</script>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYsbaTUCmS5U25KSWi21-C-Xgk5K7LwIU">
</script>
<div id="mobile_show_map" style="width:75%; height:50%; padding:10px"></div>

<script type="text/javascript">
  $(function() {
  handler = Gmaps.build('Google');
  handler.buildMap({
    internal: {
      id: 'mobile_show_map'}
    },
    function(){
    markers = handler.addMarkers([
      {
        lat: <%= @attraction.latitude %>,
        lng: <%= @attraction.longitude %>,
        picture: {
          url: '<%= asset_path('attractionmarkersm.png') %>',
          width: 30,
          height: 30
        },
        infowindow: "hello!"
      }
    ]);
  });
  });
</script>

<h3>
  <%= @attraction.name %>
</h3>
<p>
  <%= @attraction.address %>
</p>
<p>
  <%= @attraction.phone %>
</p>
<p>
  <%= link_to("Website", @attraction.website, :target => "_blank") %>
</p>
<p>
  <%= link_to("Get Directions", "https://www.google.com/maps/dir/Current+Location/#{@attraction.latitude},#{@attraction.longitude}", :target => "_blank") %>
</p>
<p>
  <%= @attraction.description %>
</p>

