<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'>
</script>
<script src='//maps.googleapis.com/maps/api/js?key=AIzaSyBYsbaTUCmS5U25KSWi21-C-Xgk5K7LwIU' type='text/javascript'>
</script>

<div id="mobile-show">
<h1><%= @attraction.name %></h1>
<p><%= @attraction.address %> (<%= link_to("Get Directions", "https://www.google.com/maps/dir/Current+Location/#{@attraction.latitude},#{@attraction.longitude}", :target => "_blank") %>)</p>
<p><%= @attraction.phone %></p>
<p><%= link_to("Website", @attraction.website, :target => "_blank") %></p>
<p><%= @attraction.description %></p>
</div>

<div id="mobile_show_map" style="width:90%; height:50%; padding:1em; margin: 0 auto;"></div>

<script type="text/javascript">
$(function () {
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'mobile_show_map'}},
      function(){
        var markers = handler.addMarkers([
          {"lat": <%= @attraction.latitude %>,
           "lng": <%= @attraction.longitude %>,
           "picture":
           {"url": '<%= asset_path('attractionmarkersm.png') %>',
            "width": 30,
            "height": 30},
           "infowindow": '<%= @attraction.name %> <%= link_to("Get Directions", "https://www.google.com/maps/dir/Current+Location/#{@attraction.latitude},#{@attraction.longitude}", :target => "_blank") %>'
          }
        ]);
        handler.map.centerOn(markers[0]);
        handler.getMap().setZoom(14);
      });
 });
</script>



