<div id="mobile-show">
<h1><%= @attraction.name %></h1>
<p><%= @attraction.address %> (<%= link_to("Get Directions", "https://www.google.com/maps/dir/Current+Location/#{@attraction.latitude},#{@attraction.longitude}", :target => "_blank") %>)</p>
<p><%= number_to_phone(@attraction.phone, area_code: true) %></p>
<p><%= link_to("Website", @attraction.website, :target => "_blank") %></p>
<p><%= @attraction.description %></p>
</div>

<div id="mobile_show_map" style="width:90%; height:50%; padding:1em; margin: 0 auto;"></div>

<script type="text/javascript">
  $(function () {
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'mobile_show_map'}},
    function(){
      var markers = handler.addMarkers([
        {"lat": <%= @attraction.latitude %>,
         "lng": <%= @attraction.longitude %>,
         "picture":
         {"url": '<%= asset_path('attractionmarkersm.png') %>',
          "width": 30,
          "height": 30},
         "infowindow": '<h1><%= @attraction.name %></h1> <%= link_to("Get Directions", "https://www.google.com/maps/dir/Current+Location/#{@attraction.latitude},#{@attraction.longitude}", :target => "_blank") %>'
        }
      ]);
      handler.map.centerOn(markers[0]);
      handler.getMap().setZoom(14);
    });
  });
</script>



